@use '../mixins/responsive.scss' as *;

.card {
  width: 285px;

  &--front {
    position: relative;
    top: 125px;
    z-index: 1;
  }

  &--back {
    position: relative;
    top: -160px;
    left: 60px;
  }

  &__logo {
    position: absolute;
    width: 54px;
    top: 17px;
    left: 19px;
  }

  &__info {
    position: absolute;
    bottom: 19px;
    left: 19px;
    color: var(--white-color);
    font-weight: 500;
  }

  &__number {
    font-size: 18px;
    letter-spacing: 2.2px;
  }

  &__container-name-exp {
    width: 245.11px;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    letter-spacing: 1.286px;
    margin-top: 17px;
    text-transform: uppercase;
  }

  &__cvc {
    position: absolute;
    top: 72px;
    right: 40px;
    color: var(--white-color);
    font-size: 9px;
    letter-spacing: 1.286px;
  }

  @include responsive(laptop) {
    width: 447px;

    &--front {
      top: 187px;
      left: 164px;
    }

    &__logo {
      width: 84px;
      top: 28px;
      left: 32px;
    }

    &__info {
      bottom: 26px;
      left: 32px;
    }

    &__number {
      font-size: 28px;
      letter-spacing: 3.422px;
    }

    &__container-name-exp {
      font-size: 14px;
      letter-spacing: 2px;
      margin-top: 25px;
    }

    &__cvc {
      position: absolute;
      top: 113px;
      right: 60px;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}
