@use '../mixins/responsive.scss' as *;

.form {
  position: relative;
  top: 300px;
  width: 327px;
  margin-inline: auto;

  @include responsive(laptop) {
    width: 381px;
    top: -60px;
    left: 750px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-block: 20px;

    &--50 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__subcontainer {
    display: flex;
    flex-direction: column;
  }

  &__exp-date-input-container {
    width: 100%;
    display: flex;
    gap: 8px;
  }
}

.label {
  margin-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.input {
  height: 45px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 2px solid var(--light-grey);
  color: var(--deep-violet);
  font-size: 18px;
  font-weight: 500;

  &::placeholder {
    color: var(--deep-violet);
    opacity: 0.25;
  }

  &--mm,
  &--yy {
    width: 72px;

    @include responsive(laptop) {
      width: 80px;
    }
  }

  &--cvc {
    width: 164px;

    @include responsive(laptop) {
      width: 191px;
    }
  }
}

.blank-error {
  color: #ff5050;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
}

.button-confirm {
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 8px;
  color: var(--white-color);
  background-color: var(--deep-violet);
  cursor: pointer;
}
