@use '../mixins/responsive.scss' as *;

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/bg-main-mobile.png) no-repeat;
  background-size: cover;
  max-height: 240px;

  @include responsive(laptop) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: url(../../assets/images/bg-main-desktop.png) no-repeat;
    min-height: 100vh;
    background-size: cover;
    max-width: 483px;
  }
}
